/target
/nb-configuration.xml
*.class
*.project
/ControlModule/.settings
/.metadata
/.recommenders
*.jar
*.classpath
*.tern-project
*.navData
/RemoteSystemsTempFiles
/ControlModule/natwende-mukwai-web/target